<div>
	<table  class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>店铺名称</th>
			</tr>
		</thead>
		 
		<% @shops.each do |shop| %>
		<tr>
			<td>
				<%= link_to shop.id, action: :paid_by_shop, id: shop.id %>
			</td>
			<td>
				<%= link_to shop.name, action: :paid_by_shop, id: shop.id %>
			</td>
		</tr>
		<% end %>
	
	</table>
</div>