<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">好难找网后台管理系统</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">店铺 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
		    <li><a href='/shops'>查看店铺</a></li>
		    <li><a href='/transactions'>查看流水</a></li>
		    <li><a href='/transact'>待结账店铺列表</a></li>
		    <li class="divider"></li>
		    <li><a href='/transact/settlements'>查看账单</a></li>
		  </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">首页内容 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
		    <li><a href='/featured_products'>热门商品</a></li>
		    <li><a href='/featured_shops'>主打品牌</a></li>
		  </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">内容管理 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
		    <li><a href='/available_custom_categories'>提供定制的分类</a></li>
		    <li><a href='/category_groups'>管理分类导航</a></li>
		    <li><a href='/categories'>分类管理</a></li>
		    <li><a href='/shippings'>物流公司</a></li>
		    <li><a href='/shipping_options'>物流选项</a></li>
		    <li><a href='/products'>商品管理</a></li>
		    <li><a href='/orders'>订单管理</a></li>
		    <li><a href='/custom_categories'>定制分类</a></li>
		    <li><a href='/templates'>模板</a></li>
		    <li><a href='/template_categories'>模板分类</a></li>
		    <li><a href='/template_to_shops'>模板分配</a></li>
		  </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">杭州跨境管理 <span class="caret"></span></a>
         <ul class="dropdown-menu" role="menu">
		    <li><a href='/hangzhou/products'>商品备案</a></li>
		    <li><a href='/hangzhou/orders'>管理申报订单</a></li>
		    <li><a href='/hangzhou/personals'>管理申报个人物品</a></li>
        <li><a href='/hangzhou/order_returns'>管理退单</a></li>
		<!--     <li><a href='/hangzhou/personals'>管理个人物品申报</a></li> -->
		    <!-- <li><a href='/hz_companies'>企业申请</a></li> -->
		  </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">活动与折扣 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
		    <li><a href='/promotions'>活动</a></li>
		    <li><a href='/coupons'>折扣卡</a></li>
		    <li><a href='/coupon_products'>折扣商品</a></li>
		    <li><a href='/vouchers'>礼品卡</a></li>
		  </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户属性 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
		    <li><a href='/profile_groups'>用户属性分类</a></li>
		    <li><a href='/profiles'>用户属性</a></li>
		    <li><a href='/profile_values'>用户属性值</a></li>
		  </ul>
        </li>
        <li><a href='http://haonzhao.com:20874/administrator'>JOOMLA系统</a></li>
      </ul>
<!--       <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "退出", logout_shops_path %></li>
        <li><a href="#">设置</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>