<ul>
	<li>
		<a href='/shops'>
			查看店铺
		</a>
	</li>
	<li>
		<a href='/transactions'>
			查看流水
		</a>
	</li>
	<li>
		<a href='/transact'>
			待结账店铺列表
		</a>
	</li>
	<li>
		<a href='/transact/settlements'>
			查看账单
		</a>
	</li>
</ul>