<div class="btn-group-vertical">
		
		<a href='/shops' class="btn btn-default">
			查看店铺
		</a>
		<a href='/transactions' class="btn btn-default">
			查看流水
		</a>
		<a href='/transact' class="btn btn-default">
			待结账店铺列表
		</a>
		<a href='/transact/settlements' class="btn btn-default">
			查看账单
		</a>
		<a href='/category_groups' class="btn btn-default">
			管理分类导航
		</a>
		<a href='/featured_products' class="btn btn-default">
			热门商品
		</a>
		<a href='/featured_shops' class="btn btn-default">
			主打品牌
		</a>
		<a href='/promotions' class="btn btn-default">
			活动
		</a>
		<a href='/coupons' class="btn btn-default">
			折扣卡
		</a>
		<a href='/vouchers' class="btn btn-default">
			礼品卡
		</a>
		
	</div>
<div class="btn-group-vertical" style="margin-top:20px;">
	<a href='http://test.haonzhao.com:8081/administrator' class="btn btn-info">
		JOOMLA系统
	</a>
</div>