<%if ['shops', 'transactions', 'transact'].include? params[:controller] %>
  <div class="page-header">店铺</div>
  <ul class='nav'>
    <li><a href='/shops'>查看店铺</a></li>
    <li><a href='/transactions'>查看流水</a></li>
    <li><a href='/transact'>待结账店铺列表</a></li>
    <li class="divider"></li>
    <li><a href='/transact/settlements'>查看账单</a></li> 
  </ul>
<%end%>
<%if ['featured_products', 'featured_shops'].include? params[:controller] %>
  <div class="page-header">首页内容</div>
  <ul class='nav'>
    <li><a href='/featured_products'>热门商品</a></li>
    <li><a href='/featured_shops'>主打品牌</a></li>
  </ul>
<%end%>
<%if ['available_custom_categories', 'category_groups', 'categories','shippings','shipping_options','products','orders','custom_categories','templates','content_products','template_categories','template_to_shops','fp_group_products','pages'].include? params[:controller] %>
  <div class="page-header">内容管理</div>
  <ul class='nav'>
    <li><a href='/content_products'>每日新推荐</a></li>
    <li><a href='/pages'>页面内容管理</a></li>
    <li><a href='/fp_group_products'>首页推荐分类产品</a></li>
    <li><a href='/available_custom_categories'>提供定制的分类</a></li>
    <li><a href='/category_groups'>管理分类导航</a></li>
    <li><a href='/categories'>分类管理</a></li>
    <li><a href='/shippings'>物流公司</a></li>
    <li><a href='/shipping_options'>物流选项</a></li>
    <li><a href='/products'>商品管理</a></li>
    <li><a href='/orders'>订单管理</a></li>
    <li><a href='/custom_categories'>定制分类</a></li>
    <li><a href='/templates'>模板</a></li>
    <li><a href='/template_categories'>模板分类</a></li>
    <li><a href='/template_to_shops'>模板分配</a></li>
  </ul>
<%end%>
<%if ['hangzhou','hz_companies'].include? params[:controller] %>
  <div class="page-header">杭州跨境管理</div>
  <ul class='nav'>
    <li><a href='/hangzhou/products'>管理商品备案</a></li>
    <li><a href='/hangzhou/orders'>管理申报订单</a></li>
    <li><a href='/hangzhou/personals'>管理申报个人物品</a></li>
        <li><a href='/hangzhou/order_returns'>管理退单</a></li>
        <li><a href='/hz_companies'>企业申请</a></li>
  </ul>
<%end%>
<%if ['promotions', 'coupons', 'coupon_products','vouchers'].include? params[:controller] %>
  <div class="page-header">活动与折扣</div>
  <ul class='nav'>
    <li><a href='/promotions'>活动</a></li>
    <li><a href='/coupons'>折扣卡</a></li>
    <li><a href='/coupon_products'>折扣商品</a></li>
    <li><a href='/vouchers'>礼品卡</a></li>
  </ul>
<%end%>
<%if ['profile_groups', 'profiles', 'profile_values'].include? params[:controller] %>
  <div class="page-header">用户属性</div>
  <ul class='nav'>
    <li><a href='/profile_groups'>用户属性分类</a></li>
    <li><a href='/profiles'>用户属性</a></li>
    <li><a href='/profile_values'>用户属性值</a></li>
  </ul>
<%end%>