<div class="btn-group">
  <button type="button" class="btn btn-danger">店铺</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href='/shops'>查看店铺</a></li>
    <li><a href='/transactions'>查看流水</a></li>
    <li><a href='/transact'>待结账店铺列表</a></li>
    <li class="divider"></li>
    <li><a href='/transact/settlements'>查看账单</a></li>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-danger">首页内容</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href='/featured_products'>热门商品</a></li>
    <li><a href='/featured_shops'>主打品牌</a></li>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-danger">内容管理</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href='/available_custom_categories'>提供定制的分类</a></li>
    <li><a href='/category_groups'>管理分类导航</a></li>
    <li><a href='/categories'>分类管理</a></li>
    <li><a href='/shippings'>物流公司</a></li>
    <li><a href='/shipping_options'>物流选项</a></li>
    <li><a href='/products'>商品管理</a></li>
    <li><a href='/orders'>订单管理</a></li>
    <li><a href='/custom_categories'>定制分类</a></li>
    <li><a href='/templates'>模板</a></li>
    <li><a href='/template_categories'>模板分类</a></li>
    <li><a href='/template_to_shops'>模板分配</a></li>
  </ul>
</div>		
		
<div class="btn-group">
  <button type="button" class="btn btn-danger">活动与折扣</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href='/promotions'>活动</a></li>
    <li><a href='/coupons'>折扣卡</a></li>
    <li><a href='/coupon_products'>折扣商品</a></li>
    <li><a href='/vouchers'>礼品卡</a></li>
  </ul>
</div>		

<div class="btn-group">
  <button type="button" class="btn btn-danger">用户属性</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href='/profile_groups'>用户属性分类</a></li>
    <li><a href='/profiles'>用户属性</a></li>
    <li><a href='/profile_values'>用户属性值</a></li>
  </ul>
</div>			

<div class="btn-group">
  <a href='http://haonzhao.com:20874/administrator' class="btn btn-info">JOOMLA系统</a>
</div>


<!-- <div class="btn-group-vertical">
		<a href='/shops' class="btn btn-default">查看店铺</a>
		<a href='/transactions' class="btn btn-default">查看流水</a>
		<a href='/transact' class="btn btn-default">待结账店铺列表</a>
		<a href='/transact/settlements' class="btn btn-default">查看账单</a>
		<a href='/category_groups' class="btn btn-default">管理分类导航</a>
		<a href='/available_custom_categories' class="btn btn-default">提供定制的分类</a>
		<a href='/featured_products' class="btn btn-default">热门商品</a>
		<a href='/featured_shops' class="btn btn-default">主打品牌</a>
		<a href='/promotions' class="btn btn-default">活动</a>
		<a href='/coupons' class="btn btn-default">折扣卡</a>
		<a href='/coupon_products' class="btn btn-default">折扣商品</a>
		<a href='/vouchers' class="btn btn-default">礼品卡</a>
		<a href='/categories' class="btn btn-default">分类管理</a>
		<a href='/profile_groups' class="btn btn-default">用户属性分类</a>
		<a href='/profiles' class="btn btn-default">用户属性</a>
		<a href='/profile_values' class="btn btn-default">用户属性值</a>
	</div>
<div class="btn-group-vertical" style="margin-top:20px;">
	<a href='http://test.haonzhao.com:8081/administrator' class="btn btn-info">JOOMLA系统</a>
</div> -->
