<div class="btn-group-vertical">
		<a href='/shops' class="btn btn-default">
			查看店铺
		</a>
		<a href='/transactions' class="btn btn-default">
			查看流水
		</a>
		<a href='/transact' class="btn btn-default">
			待结账店铺列表
		</a>
		<a href='/transact/settlements' class="btn btn-default">
			查看账单
		</a>
		<a href='/category_groups' class="btn btn-default">
			分类导航
		</a>
</div>